#game {
    display: block;
    margin: 0 auto;
}

.game-container {
    position: relative;
    padding-top: 100px;
}

.button {
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background-color: #4a762c;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    border: #4a762c;
    border-radius: 6px;
    font-weight: lighter;
}

.visible {
    display: block;
}